.circle {
	background-image: radial-gradient(circle at center , #621AD7 50%, transparent 50%);
	background-repeat: no-repeat;
	transition: background-size .8s, color .8s;
	background-size: 0 0;
	background-position: 50% 50%;
}

.circle:hover {
background-size: 200% 200%;
color: #0A0E13;
}
  


