@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Audiowide";
  src: url("../../public/fonts/Audiowide-Regular.ttf");
}
@font-face {
  font-family: "Fira Code";
  src: url("../../public/fonts/FiraCode-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Monoton";
  src: url("../../public/fonts/Monoton-Regular.ttf");
}
@font-face {
  font-family: "Caveat";
  src: url("../../public/fonts/Caveat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Press Start 2P";
  src: url("../../public/fonts/PressStart2P-Regular.ttf");
}

.bg-svg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 1;
}
.bg-svg-wrap {
  position: fixed;
  z-index: -100;
  overflow: hidden;
  max-width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
